#about {
    padding-top: 0;
}

#about img{
    width: 100%;
    height: auto;
}

#noColumnP p{
    column-count: auto;
}

/* ---------------------------------- RESPONSIVE ---------------------------------- */

/* ---------- TABLET Y PC ---------- */
@media (min-width: 769px){

    #about .titular{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin: -7% 0 7% 0;
    }
    
    #about .titular h1{
        --font-size-h1: clamp(2.5rem, 10vw, 8.70rem);
        margin-right: 7rem;
    }
    
    #about .titular h1,
    #about .titular h2 {
        grid-column: 2; 
        text-align: right;
        
    }
    
    #about .titular h2 {
        margin-top: -32%;
        margin-right: 3.5rem;
    }
    
}

/* ---------- MOVIL ---------- */

@media (max-width: 768px) {

    #about .titular{
        margin: 1rem;
    }

    #about .titular h2 {
        margin-top: -5%;
        margin-left: -5%;
    }
   
    
} 