#contact {
    background-color: #060405;
}

#contact_text {
    font-size: 98px;
    display: flex;
    margin-top: -94px;
}

#postcard {
    margin-top: 150px;
}

#postcard_img {
    width: 900px;
    height: 500px;
    background-image: url('/Portfolio/img/294.jpg');
    background-repeat: repeat;
    background-size: contain;
    margin: 0 auto;
    margin-left: 18%;
}

#postcard_white {
    width: 900px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: -530px;
    display: flex;
    overflow: hidden;
}

/* ---------------------------------- FORM CONTACT --------------------------------- */

.left_half, .right_half {
    flex: 1;
    margin: 30px;
}

.left_half {
    border-right: 1px solid #060405;
    padding-right: 30px;
    margin-right: 0;
}

.form_group {
    display: flex;
    align-items:start;
    margin-bottom: 20px;
    border-bottom: 1px solid #060405;
}

.form_group label {
    flex: 0 0 150px; /* Ajusta el ancho según sea necesario */
    padding: 10px 0;
}

.form_group input,
.form_group textarea {
    flex: 1;
    border: none;
    padding: 10px;
}

.form_group input:focus,
.form_group textarea:focus {
    outline: none;
    /* background-color: #CF1325; */
}

/* ---------------------------------- SEND BUTTON --------------------------------- */

#send button {
    
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #CF1325;
    color: white;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    cursor: pointer;
}

#send button:hover {
    background-color: #820e19;
}

