#contact {
    background-color: var(--text-primary);    
}

#contact h1 {
    color: white;
}

#contact h2 {
    margin-top: 2.5rem;
    margin-left: -20%;
}

#postcard {
    margin-top: 9.38rem;
}

#postcard_img,
#postcard_img div,
#postcard_white{
    width: 56.25rem; /* 900px */
    height: 31.25rem; /* 500px */
}

#postcard_img,
#postcard_white{
    margin: 0 auto;
}

#postcard_img div{
    background-image: url('/img/294.jpg');
    background-color: var(--soft-primary);
    background-repeat: repeat;
    background-size: contain;
    margin-left: -2rem;
}

#postcard_white {
    width: 56.25rem; /* 900px */
    height: 31.25rem; /* 500px */
    background-color: white;
    margin-top: -33.13rem; /* -530px */
    display: flex;
    overflow: hidden;
}

/* ---------------------------------- FORM CONTACT --------------------------------- */

.left_half, .right_half {
    flex: 1;
    margin: 1.88rem; /* 30px */
}

.left_half {
    border-right: 1px solid var(--text-primary);
    padding-right: 1.88rem; /* 30px */
    margin-right: 0;
}

.form_group {
    display: flex;
    align-items: start;
    margin-bottom: 1.25rem; /* 20px */
    border-bottom: 1px solid var(--text-primary);
}

form :nth-child(5) {
    border-bottom: none;
}

.form_group label {
    flex: 0 0 74px; /* Ajusta el ancho según sea necesario */
    padding: 10px 0;
}

.form_group input,
.form_group textarea {
    flex: 1;
    border: none;
    padding: 10px;
}

.form_group input:focus,
.form_group textarea:focus {
    outline: none;
    /* background-color: #CF1325; */
}

textarea {
    resize: none;
    /* background-color: lightsalmon; */
    height: 123px;
}

/*fuerza el fondo blanco en lugar del color de autofill por defecto (amarillo azul etc)*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: var(--text-primary);
    transition: background-color 5000s ease-in-out 0s;
}

input::placeholder, textarea::placeholder {
    color: var(--text-suport);
}

/* -------------------- Desplegable ----------------------*/
.form_group select {
    flex: 1;
    border: none;
    padding: 10px;
    background-color: white;
}

.form_group select:focus {
    outline: none;    
}

/* 
Esto me ha tocado los coj* (-_-)
los estilos de option:hover no funcionan en la mayoría de los navegadores, 
ya que el menú desplegable del <select> es controlado por el sistema operativo y no por CSS
*/

/* ---------------------------------- SEND BUTTON --------------------------------- */

form :last-child {
    display: flex;
    justify-content: flex-end;

}

form button {
    padding: 10px;
    align-items: center; /* Alinea verticalmente el texto e imagen */
    cursor: pointer;
    background-color: var(--soft-primary);

    /* text */;
    color: white;
    font-weight: 600;  
    
    /* border */
    border-image: url('/svg/borde_boton.svg');
    border-image-slice: 9;
    border-image-width: 3.5px;
    border-image-outset: 3px;
    border-image-repeat: round;

}

form button:hover {
    background-color: var(--dark-primary);

    /* border */
    border-image: url('/svg/borde_boton_hover.svg');
    border-image-slice: 9;
    border-image-width: 3.5px ;
    border-image-outset: 3px;
    border-image-repeat: round;
}

form button img {
    width: 30px;
    height: 30px;    
    margin-left: 8px; /* Agrega espacio entre el texto y la imagen */
}

/* ------------------------------------ RESPONSIVE ----------------------------------- */

/* Responsive: Ajustes para pantallas medianas (tablets) */
@media (max-width: 1024px) {

    #contact .titular h2 {
        margin-top: 1.5rem;
        margin-left: -30%;
    }

    #postcard_img,
    #postcard_img div,
    #postcard_white {
        width: 40rem;
        
    }
}

/* Responsive: Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    #postcard_img,
    #postcard_img div,
    #postcard_white{
        width: 30.25rem; /* 500px */
        height:  55.5rem; /* 900px */
    }

    #postcard {
        margin-top: 5rem; 
    }
    
    #postcard_white {
        flex-direction: column; /* Cambia a disposición vertical */
        margin-top: -54rem; 
    }

    .left_half {
        order: 1; /* Asegura que la izquierda esté arriba */
        text-align: center; /* Centra el texto */
        border-right: none;
        border-bottom: 2px solid var(--soft-primary);
        padding: 0;
        margin: 4.5rem 1.88rem 2rem 1.88rem; /* 30px */
    }

    .right_half {
        order: 2; /* Asegura que la derecha esté abajo */

    }

    #postcard p {
        margin-bottom: 0;
    }

    #contact .titular
    {
        display: block;
    }

    #contact .titular h2 {
        margin-top: -5%;
        margin-left: 0;
        text-align: left;
    }

    
}