
/* ------------------------------------ GENERAL GRID ----------------------------------- */

.grid_container {
    margin: 100px 3%;
    display: grid;
    grid-template-columns: repeat(8, 10%);
    row-gap: 100px;
    column-gap: 2.5%;
    align-items:center;
    /* background-color: grey; */
  }

.image_column {
    grid-column: span 3; /* se expande a 3 columnas */
    /* background-color: cornflowerblue; */
}

.image_column img {
    max-width: 100%;
    height: auto;
}

.text_column {
    grid-column: span 4; /* se expande a dos columnas */
    text-align: left;
    /* background-color: cornflowerblue; */
}

.text_column p{
    column-count: 2;
}

.text_column :nth-child(2) {
    margin-top: 16px;
    margin-bottom: 20px;
}

.position_column_2 {
    grid-column: 2 / 6; /* va del inicio de la 2 al inicio de la 4 con lo que coge la 2 y la 3 completas pero no la cuatro porque inicia la 4 termina */
}

.position_column_6 {
    grid-column: 6 / 9;
}

.position_column_3 {
    grid-column: 4 / 8;
}


/* ------------------------------------ GRAPHIC ----------------------------------- */



/* ------------------------------------ DEVELOP ----------------------------------- */

#developProjects {
    background-color: #060405;
    /* background-color: blue; */
}

#developProjects h3 {
    color: white;
}

#developProjects p {
    color: white;
}

.grey_word {
    color: #6B6B6B;
}

/* ------------------------------------ OTHERS ----------------------------------- */

.medium_word {
    font-weight: 600;
}