@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 16px; /*voy a usar em así que me aseguro que el puntaje base sea el que quiero*/
}


:root {
  /* ------ Paleta de colores ------- */
  --deep-primary: #682A3B;
  --dark-primary: #942343;
  --primary: #BD0D3F;
  --soft-primary: #F27F7F;
  --light-primary: #EEE6E2;
  --light-primary-rgb: 238, 230, 226;

  --text-primary: #151414;
  --text-primary-rgb: 21, 20, 20;
  --text-secondary: #7E7C77;
  --text-suport: #B1AEAA;

  /* ------ Fuentes tipográficas ------- */
  --font-primary: "Montserrat", sans-serif; 
  --font-secondary: "Allura", cursive;
}

body {
  background-color: var(--light-primary);
  font-family: var(--font-primary);
  color: var(--text-primary)
}

p {
  margin-bottom: 1.25rem;
  font-size: 1.38rem;
}

h1 {
  font-weight:400;
  letter-spacing: 0.1rem;
  font-size: 6.88rem;
}

h2 {
  color: var(--primary);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 8.75rem;
  text-align: right;
  margin-top: -3.5%;
  margin-left: -10%; 
  white-space: nowrap;
}

h3 {
  line-height: 3.25rem;
  font-size: 3.13rem;
  font-weight:600;
}

h4 {
  font-size:1.38rem;
  font-weight:600;
  color: var(--primary);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.all_caps {
  text-transform: uppercase;
}

.capitular {
  color: var(--primary);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 5.63rem;
}


/* ------------------------------------ SECTION'S TITLE ----------------------------------- */

.titular {
  display: flex;
  /* background-color: gray; */
}

.to_left {
  margin-left: 3%;
}

/* ----------------------------------- SECTION'S SPACE ---------------------------------- */

section {
  padding: 5.63rem 0;
}

/* ---------------------------------- SEE MORE BUTTON --------------------------------- */


.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.load_button {
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  font-size: 1.25rem;
  text-align: center;
  margin: 1.25rem;
  padding: 0.94rem 2.00rem;
  display: inline-block;
  cursor: pointer;
}

/* ------------------------------------  ----------------------------------- */

