@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}


:root {
  /* ------ Paleta de colores ------- */
  --deep-primary: #682A3B;
  --dark-primary: #942343;
  --primary: #BD0D3F;
  --soft-primary: #F27F7F;
  --light-primary: #EEE6E2;
  --light-primary-rgb: 238, 230, 226;
  --optional-white: #FFFFFF;

  --text-primary: #151414;
  --text-primary-rgb: 21, 20, 20;
  --text-secondary: #7E7C77;
  --text-suport: #B1AEAA;

  /* ------ Fuentes tipográficas ------- */
  --font-primary: "Montserrat", sans-serif; 
  --font-secondary: "Allura", cursive;

  /* ------ Tamaños de fuentes ------- */ /* --- clamp(<min>, <ideal>, <max>) --- */
  --font-size-titular-inicio: clamp(2.5rem, 5vw, 6rem); /* min 3rem (48px), max 6rem (96px), 5vw: viewport (5% del ancho de la pantalla) */
  --font-size-p: clamp(1rem, 2vw , 1.25rem ); /* min 1rem (16px), max 1.25rem (20px) */
  --font-size-li: clamp(1rem, 2vw, 1.25rem); /* min 1rem (16px), max 1.25rem (20px) */
  --font-size-h1: clamp(3rem, 10vw, 6.75rem); /* min 3rem (48px), max 6.88rem (110px) */
  --font-size-h2: clamp(3rem, 10vw, 8rem); /* min 5rem (80px), max 8.75rem (140px) */
  --font-size-h3: clamp(1.5rem, 2.25vw, 3.25rem); /* min 1.25rem (20px), max 3.13rem (50px) */
  --font-size-h4: clamp(1rem, 2vw, 1.38rem) ; /* min 1rem (16px), max 1.38rem (22px) */
  --font-size-buttons: clamp(1rem, 2vw, 1.25rem); /* min 1rem (16px), max 1.25rem (20px) */
  
  /* ------ Pesos de fuentes ------- */
}

body {
  background-color: var(--light-primary);
  font-family: var(--font-primary);
  color: var(--text-primary)
}

p {
  margin-bottom: 1.25rem;
  font-size: var(--font-size-p);
}

h1 {
  font-weight:400;
  letter-spacing: 0.1rem;
  font-size: var(--font-size-h1);
}

h2 {
  color: var(--primary);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--font-size-h2);
  text-align: right;
  margin-top: -3.5%;
  margin-left: -10%; 
  white-space: nowrap;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight:600;
}

h4 {
  font-size:var(--font-size-h4);
  font-weight:600;
  color: var(--primary);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.all_caps {
  text-transform: uppercase;
}


/* ------------------------------------ SECTION'S TITLE ----------------------------------- */

.titular {
  display: flex;
  /* background-color: gray; */
}

.to_left {
  margin-left: 3%;
}

/* ----------------------------------- SECTION'S SPACE ---------------------------------- */

section {
  padding: 5.63rem 0;
}

/* ---------------------------------- SEE MORE BUTTON --------------------------------- */


.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.load_button,
#scrollText button,
form button { /* Estado natural */
  
  
  color: var(--optional-white);
  font-size: var(--font-size-buttons);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.load_button,
#scrollText button {
  border: none;
  border-radius: 2rem;
}

.load_button,
form button {
  background-color: var(--soft-primary); /* Estado natural */
}

.load_button {
  margin: 1.25rem;
  padding: 0.94rem 2.00rem;
}

.load_button:hover {
  background-color: var(--dark-primary);
  color: var(--optional-white);
}

/* ------------------------------------  ----------------------------------- */

@media (hover: hover) and (pointer: fine) {
  .load_button:hover,
  form button:hover {
    background-color: var(--dark-primary);
  }
}

@media (hover: none) and (pointer: coarse) {
  .load_button:active,
  form button:active {
    background-color: var(--dark-primary); 
  }
}