
/* ------------------------------------------------- */

#inicio {
  padding-top: 70px;
}
  
#gridSpecialty {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: 471.5px;
    /* background-color: grey; */
  }  

  #gridSpecialty h2 {
    font-size: 120px;
    font-weight: 400;
  }

  #graphic {
    align-content: end;
    padding-left: 7%;
    background-color: black;
  }

  #graphic h2 {
    color: white;
  }

  #front {
    text-align: right;
    padding-right: 7%;
    /* background-color: blue; */
  }
  

  #manosAmpersand {
    background-image: url('/Portfolio/img/manos_ampersand.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: red; */
    width: auto;
    height: auto;
  }
  
  

/* ------------------------------------------------- */

#inicio p {
    text-align: center;
}

/* ------------------------------------------------- */

.circle {
    fill: #cf1325;
    stroke-width: 0px;
}

#inicio svg {
    width: 40px;
    height: 40px;
    display: flex;
    
}

#scrollText :last-child {
  margin-top: -34px;
}

#scrollText {
  width: 256px;
  margin: 0 auto;
}

/* ------------------------------------------------- */